In [4]:
# Retrieve pandas library and access operating system
import pandas as pd
import csv
import os
import numpy as np

# Name file path w/ variable
schools_csv = os.path.join('Resources/schools data.csv')
students_csv = os.path.join('Resources/students data.csv')

# Read csv files
schools_df = pd.read_csv(schools_csv)
students_df = pd.read_csv(students_csv)

schools_df.head()
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
#District Summary

# Total number of schools
total_schools = len(schools_df["school_name"])


# Toal number of students
total_students = len(students_df["student_name"])


# Total budget for all 15 schools
total_budget = schools_df["budget"].sum()

# Average math score for all schools
average_math = students_df["math_score"].mean()


# Average reading score for all schools
average_reading = students_df["reading_score"].mean()


# Overall average combined score
overall_passing_rate = (average_math + average_reading)/2



# Percent of students with a 70% or greater math score
students_passing_math = students_df.loc[students_df["math_score"] >= 70]["math_score"].count()
percent_passing_math = students_passing_math/total_students


# Percent of students with a 70% or greater reading score
students_passing_reading = students_df.loc[students_df["reading_score"] >= 70]["reading_score"].count()
percent_passing_reading = students_passing_reading/total_students


# Data Frame with results
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math],
    "Percent Passing Math":[percent_passing_math],
    "Average Reading Score": [average_reading],
    "Percent Passing Reading": [percent_passing_reading],
    "Overall Passing Rate": [overall_passing_rate]
})


# Format Data Frame
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].astype(float).map("{:.2f}".format)
district_summary["Percent Passing Math"] = district_summary["Percent Passing Math"].astype(float).map("{:.1%}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].astype(float).map("{:.2f}".format)
district_summary["Percent Passing Reading"] = district_summary["Percent Passing Reading"].astype(float).map("{:.1%}".format)
district_summary["Overall Passing Rate"] = district_summary["Overall Passing Rate"].astype(float).map("{:.1f}%".format)



district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Percent Passing Math,Average Reading Score,Percent Passing Reading,Overall Passing Rate
0,15,39170,"$24,649,428",78.99,75.0%,81.88,85.8%,80.4%

In [6]:
# School Summary


# Merge the two csv files into one file
education_df = pd.merge(schools_df, students_df, on="school_name")
education_df.head()

# Extract only the needed columns
education_df = education_df.loc[:, ["school_name", "type", "size", "budget", "Student ID", "grade", "reading_score", "math_score" ]]


# Reset index
education = education_df.set_index("school_name")


# Group by school
schools_group_df = education_df.groupby(["school_name"])


# School Type
school_types = schools_df.set_index("school_name")['type']


# Total Students for each school
total_students = schools_group_df["Student ID"].count()


# Total School Budget
school_budget = schools_df.set_index("school_name")["budget"]


# Per Student Budget
budget_per_student = school_budget/total_students


# Average math score for each school
school_average_math = schools_group_df["math_score"].mean()


# Average reading score for each school
school_average_reading = schools_group_df["reading_score"].mean()


# Percent of students with a 70% or greater math score
students_passing_math_by_school = students_df[students_df["math_score"] >= 70].groupby("school_name")["Student ID"].count()
percent_passing_math_by_school = students_passing_math_by_school/total_students

# Percent of students with a 70% or greater reading score
students_passing_reading_by_school = students_df[students_df["reading_score"] >= 70].groupby("school_name")["Student ID"].count()
percent_passing_reading_by_school = students_passing_reading_by_school/total_students


# Overall Passing Rate
overall_passing_rate_by_school = (percent_passing_math_by_school + percent_passing_reading_by_school)/2

# Data Frame with results
school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": total_students,
    "Total School Budget": school_budget,
    "Budget per Student in Dollars": budget_per_student,
    "Average Math Score": school_average_math,
    "Percent Passing Math": percent_passing_math_by_school,
    "Average Reading Score": school_average_reading,
    "Percent Passing Reading": percent_passing_reading_by_school,
    "Overall Passing Rate": overall_passing_rate_by_school
})

# Format Data Frame
school_summary["Total Students"] = school_summary["Total Students"].map("{:,}".format)
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,}".format)
school_summary["Budget per Student in Dollars"] = school_summary["Budget per Student in Dollars"].astype(int)
school_summary["Average Math Score"] = school_summary["Average Math Score"].astype(float).map("{:.2f}".format)
school_summary["Percent Passing Math"] = school_summary["Percent Passing Math"].astype(float).map("{:.1%}".format)
school_summary["Average Reading Score"] = school_summary["Average Reading Score"].astype(float).map("{:.2f}".format)
school_summary["Percent Passing Reading"] = school_summary["Percent Passing Reading"].astype(float).map("{:.1%}".format)
school_summary["Overall Passing Rate"] = school_summary["Overall Passing Rate"].astype(float).map("{:.1%}".format)


school_summary

,School Type,Total Students,Total School Budget,Budget per Student in Dollars,Average Math Score,Percent Passing Math,Average Reading Score,Percent Passing Reading,Overall Passing Rate
Bailey High School,District,"4,976","$3,124,928",628,77.05,66.7%,81.03,81.9%,74.3%
Cabrera High School,Charter,"1,858","$1,081,356",582,83.06,94.1%,83.98,97.0%,95.6%
Figueroa High School,District,"2,949","$1,884,411",639,76.71,66.0%,81.16,80.7%,73.4%
Ford High School,District,"2,739","$1,763,916",644,77.10,68.3%,80.75,79.3%,73.8%
Griffin High School,Charter,"1,468","$917,500",625,83.35,93.4%,83.82,97.1%,95.3%
Hernandez High School,District,"4,635","$3,022,020",652,77.29,66.8%,80.93,80.9%,73.8%
Holden High School,Charter,427,"$248,087",581,83.80,92.5%,83.81,96.3%,94.4%
Huang High School,District,"2,917","$1,910,635",655,76.63,65.7%,81.18,81.3%,73.5%
Johnson High School,District,"4,761","$3,094,650",650,77.07,66.1%,80.97,81.2%,73.6%
Pena High School,Charter,962,"$585,858",609,83.84,94.6%,84.04,95.9%,95.3%
Rodriguez High School,District,"3,999","$2,547,363",637,76.84,66.4%,80.74,80.2%,73.3%
Shelton High School,Charter,"1,761","$1,056,600",600,83.36,93.9%,83.73,95.9%,94.9%
Thomas High School,Charter,"1,635","$1,043,130",638,83.42,93.3%,83.85,97.3%,95.3%
Wilson High School,Charter,"2,283","$1,319,574",578,83.27,93.9%,83.99,96.5%,95.2%
Wright High School,Charter,"1,800","$1,049,400",583,83.68,93.3%,83.95,96.6%,95.0%

In [7]:
# Top Performing Schools
top5_performing_schools = school_summary.sort_values(["Overall Passing Rate"], ascending = False)
top5_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Budget per Student in Dollars,Average Math Score,Percent Passing Math,Average Reading Score,Percent Passing Reading,Overall Passing Rate
Cabrera High School,Charter,"1,858","$1,081,356",582,83.06,94.1%,83.98,97.0%,95.6%
Griffin High School,Charter,"1,468","$917,500",625,83.35,93.4%,83.82,97.1%,95.3%
Pena High School,Charter,962,"$585,858",609,83.84,94.6%,84.04,95.9%,95.3%
Thomas High School,Charter,"1,635","$1,043,130",638,83.42,93.3%,83.85,97.3%,95.3%
Wilson High School,Charter,"2,283","$1,319,574",578,83.27,93.9%,83.99,96.5%,95.2%

Top Performing Schools Analysis

This particular data frame would be of great use to a proponent of the charter school movement who is looking to persuade funders.  Yet, I find it problematic that readers will place too much power on the column reporting Overall Passing Rate.  It is a misleading figure because the value has been extrapolated.  It isn't simply reporting on raw data.  Instead, it is counting the number of students who have met an arbitrary academic goalpost out of the number of students who comprise the total school poulation.  This practice favors charter schools and therefore dramaticizes those schools as dominating in academics.

In [8]:
# Bottom Performing Schools
bottom5_performing_schools = school_summary.sort_values(["Overall Passing Rate"], ascending = True)
bottom5_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Budget per Student in Dollars,Average Math Score,Percent Passing Math,Average Reading Score,Percent Passing Reading,Overall Passing Rate
Rodriguez High School,District,"3,999","$2,547,363",637,76.84,66.4%,80.74,80.2%,73.3%
Figueroa High School,District,"2,949","$1,884,411",639,76.71,66.0%,81.16,80.7%,73.4%
Huang High School,District,"2,917","$1,910,635",655,76.63,65.7%,81.18,81.3%,73.5%
Johnson High School,District,"4,761","$3,094,650",650,77.07,66.1%,80.97,81.2%,73.6%
Ford High School,District,"2,739","$1,763,916",644,77.10,68.3%,80.75,79.3%,73.8%

Bottom Performing Schools Analysis

The opposite effect is present in the data frame capturing the lowest-performing schools.  If we zoom in on the difference in average math and reading scores from the "top" and "bottom" school (as determined using Overall Passing Rate as the value indicator), we see there is a difference of 6.22 average math score points and 3.24 average reading score points.  This data frame begs the question, is an overall score difference of less than 5 points on the actual test that measures performance significant enough to deem one school a top-performer and the other a bottom performer?

In [9]:
# Math Scores by Grade Level
nine_math = students_df.loc[students_df["grade"] == "9th"].groupby("school_name")["math_score"].mean()
ten_math = students_df.loc[students_df["grade"] == "10th"].groupby("school_name")["math_score"].mean()
eleven_math = students_df.loc[students_df["grade"] == "11th"].groupby("school_name")["math_score"].mean()
twelve_math = students_df.loc[students_df["grade"] == "12th"].groupby("school_name")["math_score"].mean()

# Data Frame with results
math_scores_by_grade = pd.DataFrame({
    "9th":  nine_math,
    "10th": ten_math,
    "11th": eleven_math,
    "12th": twelve_math 
})

# Format Date Frame
math_scores_by_grade = math_scores_by_grade[['9th', '10th', '11th', '12th']]

math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.2f}".format)
math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.2f}".format)
math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.2f}".format)
math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.2f}".format)

math_scores_by_grade

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

In [10]:
# Reading Scores by Grade Level
nine_reading = students_df.loc[students_df["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
ten_reading = students_df.loc[students_df["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
eleven_reading = students_df.loc[students_df["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
twelve_reading = students_df.loc[students_df["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

# Data Frame with results
reading_scores_by_grade = pd.DataFrame({
    "9th":  nine_reading,
    "10th": ten_reading,
    "11th": eleven_reading,
    "12th": twelve_reading 
})

# Format Date Frame
reading_scores_by_grade = reading_scores_by_grade[['9th', '10th', '11th', '12th']]

reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:.2f}".format)
reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:.2f}".format)
reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:.2f}".format)
reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:.2f}".format)

reading_scores_by_grade

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

In [15]:
# Scores by School Spending
school_spending_bins = [0, 585, 615, 645, 675]
group_names1 = ["< $585", "$585-615", "$615-645", "$645-675"]

# Add variable of school spending (with bins) to original data set
education_df["school_spending_bins"] = pd.cut(education_df["budget"]/education_df["size"], bins = school_spending_bins, labels = group_names1)

# Group by school spending
school_spending = education_df.groupby("school_spending_bins")

# Refigure average scores by school spending
math_by_spending = school_spending["math_score"].mean()
reading_by_spending = school_spending["reading_score"].mean()
pass_math_by_spending = education_df[students_df["math_score"] >= 70].groupby("school_spending_bins")["Student ID"].count()/school_spending["Student ID"].count()
pass_reading_by_spending = education_df[students_df["reading_score"] >= 70].groupby("school_spending_bins")["Student ID"].count()/school_spending["Student ID"].count()
pass_overall_by_spending = education_df[(students_df["math_score"] >= 70) & (education_df["reading_score"] >= 70)].groupby("school_spending_bins")["Student ID"].count()/school_spending["Student ID"].count()

# Set-up Data Frame
scores_by_school_spending = pd.DataFrame({
    "Average Math Score": math_by_spending,
    "Percent Passing Math": pass_math_by_spending,
    "Average Reading Score": reading_by_spending,
    "Percent Passing Reading": pass_reading_by_spending,
    "Overall Passing Rate": pass_overall_by_spending
})


# Insert Title for bins and index by them
scores_by_school_spending.index.name = "Budget per Student"
scores_by_school_spending = scores_by_school_spending.reindex(group_names1)

# Format Data Frame
scores_by_school_spending["Average Math Score"] = scores_by_school_spending["Average Math Score"].map("{:.2f}".format)
scores_by_school_spending["Percent Passing Math"] = scores_by_school_spending["Percent Passing Math"].map("{:.2%}".format)
scores_by_school_spending["Average Reading Score"] = scores_by_school_spending["Average Reading Score"].map("{:.2f}".format)
scores_by_school_spending["Percent Passing Reading"] = scores_by_school_spending["Percent Passing Reading"].map("{:.2%}".format)
scores_by_school_spending["Overall Passing Rate"] = scores_by_school_spending["Overall Passing Rate"].map("{:.2%}".format)


scores_by_school_spending

,Average Math Score,Percent Passing Math,Average Reading Score,Percent Passing Reading,Overall Passing Rate
Budget per Student,,,,,
< $585,83.36,93.70%,83.96,96.69%,90.64%
$585-615,83.53,94.12%,83.84,95.89%,90.12%
$615-645,78.06,71.40%,81.43,83.61%,60.29%
$645-675,77.05,66.23%,81.01,81.11%,53.53%

In [16]:
# Scores by School Size
school_size_bins = [0, 1000, 2000, 5000]
group_names2 = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Add variable of school size (with bins) to original data set
education_df["school_size_bins"] = pd.cut(education_df["size"], bins = school_size_bins, labels = group_names2)

# Create new object with schools grouped by school size created above
by_size = education_df.groupby("school_size_bins")

# Refigure averge scores within each school-size bin
math_by_size = by_size["math_score"].mean()
reading_by_size = by_size["reading_score"].mean()
pass_math_by_size = education_df[students_df["math_score"] >= 70].groupby("school_size_bins")["Student ID"].count()/by_size["Student ID"].count()
pass_reading_by_size = education_df[students_df["reading_score"] >= 70].groupby("school_size_bins")["Student ID"].count()/by_size["Student ID"].count()
pass_overall_by_size = education_df[(students_df["math_score"] >= 70) & (education_df["reading_score"] >= 70)].groupby("school_size_bins")["Student ID"].count()/by_size["Student ID"].count()

# Set-up Data Frame
scores_by_school_size = pd.DataFrame({
    "Average Math Score": math_by_size,
    "Percent Passing Math": pass_math_by_size,
    "Average Reading Score": reading_by_size,
    "Percent Passing Reading": pass_reading_by_size,
    "Overall Passing Rate": pass_overall_by_size
})

# Insert Title for bins and index by them
scores_by_school_size.index.name = "Total Students"
scores_by_school_size = scores_by_school_size.reindex(group_names2)


# Format Data Frame
scores_by_school_size["Average Math Score"] = scores_by_school_size["Average Math Score"].map("{:.2f}".format)
scores_by_school_size["Percent Passing Math"] = scores_by_school_size["Percent Passing Math"].map("{:.2%}".format)
scores_by_school_size["Average Reading Score"] = scores_by_school_size["Average Reading Score"].map("{:.2f}".format)
scores_by_school_size["Percent Passing Reading"] = scores_by_school_size["Percent Passing Reading"].map("{:.2%}".format)
scores_by_school_size["Overall Passing Rate"] = scores_by_school_size["Overall Passing Rate"].map("{:.2%}".format)


scores_by_school_size

,Average Math Score,Percent Passing Math,Average Reading Score,Percent Passing Reading,Overall Passing Rate
Total Students,,,,,
Small (<1000),83.83,93.95%,83.97,96.04%,90.14%
Medium (1000-2000),83.37,93.62%,83.87,96.77%,90.62%
Large (2000-5000),77.48,68.65%,81.20,82.13%,56.57%

In [17]:
# Scores by School Type
# Create new object with schools grouped by type 
by_type = education_df.groupby("type")

# Refigure averge scores within each school type
math_by_type = by_type["math_score"].mean()
reading_by_type = by_type["reading_score"].mean()
pass_math_by_type = education_df[students_df["math_score"] >= 70].groupby("type")["Student ID"].count()/by_type["Student ID"].count()
pass_reading_by_type = education_df[students_df["reading_score"] >= 70].groupby("type")["Student ID"].count()/by_type["Student ID"].count()
pass_overall_by_type = education_df[(students_df["math_score"] >= 70) & (education_df["reading_score"] >= 70)].groupby("type")["Student ID"].count()/by_type["Student ID"].count()

# Set-up Data Frame
scores_by_school_type = pd.DataFrame({
    "Average Math Score": math_by_type,
    "Percent Passing Math": pass_math_by_type,
    "Average Reading Score": reading_by_type,
    "Percent Passing Reading": pass_reading_by_type,
    "Overall Passing Rate": pass_overall_by_type
})

# Insert Title for index 
scores_by_school_type.index.name = "Type of School"



# Format Data Frame
scores_by_school_type["Average Math Score"] = scores_by_school_type["Average Math Score"].map("{:.2f}".format)
scores_by_school_type["Percent Passing Math"] = scores_by_school_type["Percent Passing Math"].map("{:.2%}".format)
scores_by_school_type["Average Reading Score"] = scores_by_school_type["Average Reading Score"].map("{:.2f}".format)
scores_by_school_type["Percent Passing Reading"] = scores_by_school_type["Percent Passing Reading"].map("{:.2%}".format)
scores_by_school_type["Overall Passing Rate"] = scores_by_school_type["Overall Passing Rate"].map("{:.2%}".format)


scores_by_school_type

,Average Math Score,Percent Passing Math,Average Reading Score,Percent Passing Reading,Overall Passing Rate
Type of School,,,,,
Charter,83.41,93.70%,83.90,96.65%,90.56%
District,76.99,66.52%,80.96,80.91%,53.70%

Scores by School Type Analysis

The student performance data above, sorted by school type, tells an interesting story about who is "passing" and who is not. It misleads readers to believe that district schools are literally and figuratively failing their students.

Looking only at the Overall Passing Rate, it appears that district schools have a lot of catching up to do if only a little over half of their students are "passing" both core subjects whereas charter schools seem to be "passing" nearly all of their student body.  Make note of the 37-point difference in Overall Passing Rate.

The 70% cut-off for a passing score is a real detriment to the figures associated with district schools. They are underperforming, but the severity is exaggerated when reporting on percentage of students scoring in the passable range. In reality, district school students' math scores are averaging about 6.5 points below their charter school counterparts and their reading scores are averaging only 3 points behind.  

The difference in performance between students who attend charter schools and students who attend district schools is not a 37-point difference but rather, it's less than a 5-point difference.